[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "static/noVNC"]
	path = static/noVNC
	url = https://github.com/novnc/noVNC.git
[submodule "boost-dbus"]
	path = boost-dbus
	url = ssh://git-amr-2.devtools.intel.com:29418/openbmc-boost-dbus
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
