<main class="auth-main">
    <div class="auth-block">
        <h1>Sign in to iBmc</h1>
        <div ng-show="logoutreason" class="auth-link">{{logoutreason}}</div>

        <form name="form" ng-submit="login()" role="form" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" ng-model="username" required />
                </div>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="Password" required />
                </div>
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-default btn-auth">Login</button>
                </div>
            </div>
        </form>
    </div>
</main>